In [1]:
#Top 1 most profitable date
# *Input: a (structured) textual csv files containing the daily income of a company
# Each line of the files has the following format:
# date\tdaily income\n
#ï‚§Output:
# *Select the date and income of the top 1 most profitable date. In case of tie, select the first date

In [2]:
import findspark
findspark.init()
findspark.find()

'C:\\Users\\Study\\anaconda3\\lib\\site-packages\\pyspark'

In [3]:
import os
cwd = os.getcwd()
print(cwd)

C:\Users\Study\Documents\Jupyter Notebooks\PoliTO\1-30 MapReduce Exercises\Exercise-13

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Exercise 13") \
    .getOrCreate()
sc = spark.sparkContext

In [5]:
spark

In [6]:
sc

In [9]:
rdd13_raw = sc.textFile('input_file_13.txt')
rdd13_raw.take(10)

['2015-11-01\t1000',
 '2015-11-02\t1305',
 '2015-12-01\t500',
 '2015-12-02\t750',
 '2016-01-01\t345',
 '2016-01-02\t1145',
 '2016-02-03\t200',
 '2016-02-04\t500']

In [20]:
rdd13_processing = rdd13_raw.map(lambda row: row.split('\t')).map(lambda row: (row[0], float(row[1])) )
rdd13_processing.take(10)

[('2015-11-01', 1000.0),
 ('2015-11-02', 1305.0),
 ('2015-12-01', 500.0),
 ('2015-12-02', 750.0),
 ('2016-01-01', 345.0),
 ('2016-01-02', 1145.0),
 ('2016-02-03', 200.0),
 ('2016-02-04', 500.0)]

In [25]:
rdd13_processing = rdd13_processing.sortBy(lambda row: (row[1],row[0]) , ascending=False)
rdd13_processing.take(10)

[('2015-11-02', 1305.0),
 ('2016-01-02', 1145.0),
 ('2015-11-01', 1000.0),
 ('2015-12-02', 750.0),
 ('2016-02-04', 500.0),
 ('2015-12-01', 500.0),
 ('2016-01-01', 345.0),
 ('2016-02-03', 200.0)]

In [27]:
rdd13_processing = rdd13_processing.sortBy(lambda row: (row[1]) , ascending=False)
rdd13_processing.take(10)

[('2015-11-02', 1305.0),
 ('2016-01-02', 1145.0),
 ('2015-11-01', 1000.0),
 ('2015-12-02', 750.0),
 ('2016-02-04', 500.0),
 ('2015-12-01', 500.0),
 ('2016-01-01', 345.0),
 ('2016-02-03', 200.0)]

In [29]:
rdd13_processing.first()

('2015-11-02', 1305.0)

In [32]:
#13 Bis. Collect top 2

collected_values= rdd13_processing.collect()
print(collected_values[0:2])

[('2015-11-02', 1305.0), ('2016-01-02', 1145.0)]