In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\Users\\HAL 9004\\.conda\\envs\\spark-polito\\lib\\site-packages\\pyspark'

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Excercise 33") \
    .getOrCreate()

In [3]:
spark

In [4]:
#Exercise 32

# Maximum value
# Input: a collection of (structured) textual csv files containing the daily value of PM10 for a set of sensors
#   Each line of the files has the following format: sensorId,date,PM10 value (μg/m3)\n
# Output: report the maximum value of PM10
#   Print the result on the standard output

## With RDD's

In [4]:
sc = spark.sparkContext

In [5]:
sc

In [7]:
rdd_33 = sc.textFile("input_file_33.txt")

In [8]:
rdd_33.take(30)

['s1,2016-01-01,20.5',
 's2,2016-01-01,30.1',
 's1,2016-01-02,60.2',
 's2,2016-01-02,20.4',
 's1,2016-01-03,55.5',
 's2,2016-01-03,52.5']

In [ ]:
rdd_33 = rdd_33.

In [9]:
rdd_31 = rdd_31.map(lambda a: a.split(" -")).map(lambda a: (a[0],a[1:]) )

In [10]:
rdd_31.take(30)

[('66.249.69.97',
  ['- [24/Sep/2014:22:25:44 +0000] "GET http://www.google.com/bot.html”']),
 ('66.249.69.97',
  ['', ' [24/Sep/2014:22:26:44 +0000] "GET http://www.google.com/how.html”']),
 ('66.249.69.97',
  ['',
   ' [24/Sep/2014:22:28:44 +0000] "GET http://dbdmg.polito.it/course.html”']),
 ('71.19.157.179',
  ['', ' [24/Sep/2014:22:30:12 +0000] "GET http://www.google.com/faq.html”']),
 ('66.249.69.95',
  ['- [24/Sep/2014:31:28:44 +0000] "GET http://dbdmg.polito.it/thesis.html”']),
 ('66.249.69.97',
  ['- [24/Sep/2014:56:26:44 +0000] "GET http://www.google.com/how.html”']),
 ('56.249.69.97',
  ['', ' [24/Sep/2014:56:26:44 +0000] "GET http://www.google.com/how.html”'])]

In [11]:
rdd_31 = rdd_31.countByKey()
rdd_31

defaultdict(int,
            {'66.249.69.97': 4,
             '71.19.157.179': 1,
             '66.249.69.95': 1,
             '56.249.69.97': 1})

In [12]:
rdd_31

defaultdict(int,
            {'66.249.69.97': 4,
             '71.19.157.179': 1,
             '66.249.69.95': 1,
             '56.249.69.97': 1})

In [13]:
for elem in rdd_31.keys():
    print (elem)

66.249.69.97
71.19.157.179
66.249.69.95
56.249.69.97

## With DataFrames

In [14]:
df31 = spark.read.csv("input_file_31.txt")

In [15]:
df31

DataFrame[_c0: string]

In [16]:
df31.take(10)

[Row(_c0='66.249.69.97 -- [24/Sep/2014:22:25:44 +0000] "GET http://www.google.com/bot.html”'),
 Row(_c0='66.249.69.97 - - [24/Sep/2014:22:26:44 +0000] "GET http://www.google.com/how.html”'),
 Row(_c0='66.249.69.97 - - [24/Sep/2014:22:28:44 +0000] "GET http://dbdmg.polito.it/course.html”'),
 Row(_c0='71.19.157.179 - - [24/Sep/2014:22:30:12 +0000] "GET http://www.google.com/faq.html”'),
 Row(_c0='66.249.69.95 -- [24/Sep/2014:31:28:44 +0000] "GET http://dbdmg.polito.it/thesis.html”'),
 Row(_c0='66.249.69.97 -- [24/Sep/2014:56:26:44 +0000] "GET http://www.google.com/how.html”'),
 Row(_c0='56.249.69.97 - - [24/Sep/2014:56:26:44 +0000] "GET http://www.google.com/how.html”')]

In [17]:
df31.select("*").show()

+--------------------+
|                 _c0|
+--------------------+
|66.249.69.97 -- [...|
|66.249.69.97 - - ...|
|66.249.69.97 - - ...|
|71.19.157.179 - -...|
|66.249.69.95 -- [...|
|66.249.69.97 -- [...|
|56.249.69.97 - - ...|
+--------------------+

In [18]:
from pyspark.sql.functions import split,col

df31 = df31.select(split(col("_c0")," -")[0].alias("Name_Array"))

In [19]:
df31.take(10)

[Row(Name_Array='66.249.69.97'),
 Row(Name_Array='66.249.69.97'),
 Row(Name_Array='66.249.69.97'),
 Row(Name_Array='71.19.157.179'),
 Row(Name_Array='66.249.69.95'),
 Row(Name_Array='66.249.69.97'),
 Row(Name_Array='56.249.69.97')]

In [20]:
df31.select("*").distinct().show()

+-------------+
|   Name_Array|
+-------------+
|71.19.157.179|
| 66.249.69.97|
| 56.249.69.97|
| 66.249.69.95|
+-------------+

In [21]:
df30.write.format("csv").save("spark_output/datacsv")

NameError: name 'df30' is not defined