In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\Users\\HAL 9004\\.conda\\envs\\spark-polito\\lib\\site-packages\\pyspark'

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Excercise 36") \
    .getOrCreate()

In [3]:
spark

In [4]:
#Exercise 36
#
# Average value
#Input: a collection of (structured) textual csv files
#containing the daily value of PM10 for a set of sensors
#▪ Each line of the files has the following format
#sensorId,date,PM10 value (μg/m3)\n
#Output: compute the average PM10 value
#▪ Print the result on the standard output

## With RDD's

In [5]:
sc = spark.sparkContext

In [5]:
sc

In [8]:
rdd_36 = sc.textFile("input_file_36.txt")

In [9]:
rdd_36.take(30)

['s1,2016-01-01,20.5',
 's2,2016-01-01,30.1',
 's1,2016-01-02,60.2',
 's2,2016-01-02,20.4',
 's1,2016-01-03,55.5',
 's2,2016-01-03,52.5']

In [10]:
rdd_36 = rdd_36.map(lambda a: a.split(","))

In [11]:
rdd_36.take(30)

[['s1', '2016-01-01', '20.5'],
 ['s2', '2016-01-01', '30.1'],
 ['s1', '2016-01-02', '60.2'],
 ['s2', '2016-01-02', '20.4'],
 ['s1', '2016-01-03', '55.5'],
 ['s2', '2016-01-03', '52.5']]

In [10]:
rdd_36.

[('20.5', ('s1', '2016-01-01')),
 ('30.1', ('s2', '2016-01-01')),
 ('60.2', ('s1', '2016-01-02')),
 ('20.4', ('s2', '2016-01-02')),
 ('60.2', ('s1', '2016-01-03')),
 ('52.5', ('s2', '2016-01-03'))]

In [11]:
rdd_35 = rdd_35.sortByKey(ascending = False)
rdd_35.take(10)

[('60.2', ('s1', '2016-01-02')),
 ('60.2', ('s1', '2016-01-03')),
 ('52.5', ('s2', '2016-01-03')),
 ('30.1', ('s2', '2016-01-01')),
 ('20.5', ('s1', '2016-01-01')),
 ('20.4', ('s2', '2016-01-02'))]

In [14]:
top_value = rdd_35.first()[0]

In [21]:
rdd_35_top = rdd_35.filter(lambda x : x[0]== top_value)
rdd_35_top.take(10)

[('60.2', ('s1', '2016-01-02')), ('60.2', ('s1', '2016-01-03'))]

In [22]:
rdd_35_top = rdd_35_top.map(lambda x:x[1][1])
rdd_35_top.take(2)

['2016-01-02', '2016-01-03']

## With DataFrames

In [23]:
df35 = rdd_35.toDF()

In [24]:
df35

DataFrame[_1: string, _2: struct<_1:string,_2:string>]

In [25]:
df35.take(10)

[Row(_1='60.2', _2=Row(_1='s1', _2='2016-01-02')),
 Row(_1='60.2', _2=Row(_1='s1', _2='2016-01-03')),
 Row(_1='52.5', _2=Row(_1='s2', _2='2016-01-03')),
 Row(_1='30.1', _2=Row(_1='s2', _2='2016-01-01')),
 Row(_1='20.5', _2=Row(_1='s1', _2='2016-01-01')),
 Row(_1='20.4', _2=Row(_1='s2', _2='2016-01-02'))]

In [29]:
changedTypedf = df35.withColumn("_1", df35["_1"].cast("double"))

DataFrame[_1: double, _2: struct<_1:string,_2:string>]

In [32]:
changedTypedf.show()

+----+----------------+
|  _1|              _2|
+----+----------------+
|60.2|{s1, 2016-01-02}|
|60.2|{s1, 2016-01-03}|
|52.5|{s2, 2016-01-03}|
|30.1|{s2, 2016-01-01}|
|20.5|{s1, 2016-01-01}|
|20.4|{s2, 2016-01-02}|
+----+----------------+

In [38]:
import org.apache.spark.sql.functions._

df = df.select(col("*"), substring(col("a"), 4, 6).as("c"))

SyntaxError: invalid syntax (927756963.py, line 3)

In [30]:
df33 = df33.orderBy("_1", ascending = False)

NameError: name 'df33' is not defined

In [53]:
df33.show()

+---+----------+----+
|_c0|       _c1| _c2|
+---+----------+----+
| s1|2016-01-02|60.2|
| s1|2016-01-03|55.5|
| s2|2016-01-03|52.5|
| s2|2016-01-01|30.1|
| s1|2016-01-01|20.5|
| s2|2016-01-02|20.4|
+---+----------+----+

## With SQL

In [54]:
df33.createOrReplaceTempView("ex33")

In [55]:
sqlDF = spark.sql("SELECT * FROM ex33")
sqlDF.show()

+---+----------+----+
|_c0|       _c1| _c2|
+---+----------+----+
| s1|2016-01-02|60.2|
| s1|2016-01-03|55.5|
| s2|2016-01-03|52.5|
| s2|2016-01-01|30.1|
| s1|2016-01-01|20.5|
| s2|2016-01-02|20.4|
+---+----------+----+

In [59]:
sqlDF = spark.sql("SELECT * FROM ex33 ORDER BY _c2 DESC")
sqlDF.show()

+---+----------+----+
|_c0|       _c1| _c2|
+---+----------+----+
| s1|2016-01-02|60.2|
| s1|2016-01-03|55.5|
| s2|2016-01-03|52.5|
| s2|2016-01-01|30.1|
| s1|2016-01-01|20.5|
| s2|2016-01-02|20.4|
+---+----------+----+